extends layout

block content
  h2= title
  p.fs-5.w-75 Musistics is a popular music store website, known for its range of musics. Musistics promises 'unbeatable' services both in pricing and quality.
  p.fs-5.w-75 Currently, there are over 58 type of languages of music across all leading countries in the world, USA, Canada, Greece, India, France, etc... are among them.