extends layout
block content

  center 
      h1= "Add an Album!"
  form
      p Album:
        input(type="text" name="album" placeholder="Enter Album name")
      p Artist:
        input(type="text" name="artist" placeholder="Enter Artist name")
      p Songs:
        input(type="text" name="songs" placeholder="Enter Songs of the Album")
      p Year of Release:
        input(type="text" name="yearOfRelease" placeholder="year of release")
      p Rating:
        input(type="text" name="rating" placeholder="Rating")
      input(type="submit" name="Add")