table.table.table-striped.table-light
    thead
      td.fw-bold Album
      td.fw-bold Artist
      td.fw-bold Songs 
      td.fw-bold Year Of Release 
      td.fw-bold Rating
    tbody
        tr
            td 
                currentMusic.album
            td 
                currentMusic.artist
            td 
                currentMusic.songs
            td 
                currentMusic.yearOfRelease
            td 
                currentMusic.rating